<h1>[{{ status|capitalize }}] {{ groupLabels.alertname }}</h1>
<p><a href="{{ externalURL }}">go to alertmanager</a></p>
<ul>
  {% for alert in alerts %}
    <li>
      {{ alert.labels.instance }}: {{ alert.labels.name }}.
      {% for an, url in alert.annotations.items() %}<a href="{{ url }}"> {{ an }}</a>{% endfor %}
    </li>
  {% endfor %}
</ul>
